$colorPrimary: #cf3f74;

$colorPrimaryLight: rgba(207, 63, 116, 0.8);
$colorGray: #f5f7fd;
$colorGrayLight: #fafbfc;
$colorGrayDark: #9da2af;
$colorGrayDarker: #5b6570;
$colorMainText: #5b6570;

:root {
    --dark-background: #292a2d;
    --dark-background-secondary: #3b3d42;
    --dark-color: #a9a9b3;
    --dark-color-secondary: #73747b;
}

@import 'node_modules/normalize.scss/normalize.scss';

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Medium.woff2') format('woff2'),
        url('../fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@import 'modules/basic.scss';

.post--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    &__card {
        max-width: 780px;
        padding-top: 20px;
    }
}

.is-textMode {
    .posts-nav {
        max-width: 780px;
    }
    &.home {
        .site--footer {
            .container {
                max-width: 780px;
            }
        }
    }
}

.post {
    .post--list__card & {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #eee;
        padding-bottom: 50px;
        &:last-child {
            border-bottom: 0;
        }
        h2 {
            font-weight: 700;
            font-size: 32px;
        }

        .more {
            font-size: 14px;
            color: $colorPrimary;
        }

        .snipper {
            margin-bottom: 15px;
            margin-top: 10px;
            font-size: 16px;
        }
    }
    width: 48%;
    text-align: center;
    margin-bottom: 5%;

    .image--link {
        display: flex;
        overflow: hidden;
        transition: 0.5s;
        align-items: center;

        img {
            transition: 0.5s;
        }
    }

    &:hover {
        .image--link {
            transform: scale(0.96);

            img {
                transform: scale(1.15);
            }
        }
    }

    h2 {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 20px;
    }

    .meta {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
    }
}

.site--footer {
    padding: 50px 0;
    font-size: 14px;
}

.section-inner {
    label {
        display: block;
        font-size: 14px;
        font-family: 'Open Sans';
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: 10px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        border-radius: 4px;

        &[type='submit'] {
            color: #fff;
            font-family: 'Open Sans';

            &:hover {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    textarea {
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        resize: none;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
}

.post--header {
    padding: 10px 0 50px;
}

.card {
    &--item {
        display: flex;
        padding: 15px 0;
    }

    &--content {
        flex: 1 1 auto;
    }

    &--list {
        padding-right: 400px;
        padding-left: 50px;
        position: relative;
        padding-top: 80px;
    }

    &--image {
        flex: 0 0 288px;
    }
}

.taxonomy-description {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);

    p {
        margin: 0;
    }
}

.archive-header {
    position: absolute;
    right: 0;
    top: 0;
    width: 350px;

    &__author {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.6);

        .avatar {
            border-radius: 100%;
            margin-right: 20px;
            margin-left: auto;
        }
    }

    .archive-title {
        margin: 0;
        font-size: 24px;
        font-weight: 900;
        line-height: 1.2;
    }
}

.elevateMeta {
    left: 0;
    margin-top: 30px;
    position: absolute;
    top: 210px;
    width: 140px;
    z-index: 100;
}

.elevateSidebar {
    right: 0;
    margin-top: 30px;
    position: absolute;
    top: 210px;
    width: 140px;
    z-index: 100;
}

.elevatePost-item {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    h4 {
        font-size: 12px;
        margin: 0;
        line-height: 1.2;
    }

    .meta {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
    }
}

.elevate-container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 95%;
}

.elevateAuthor {
    &--top {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: $colorPrimary;
    }

    .avatar {
        border-radius: 100%;
        width: 36px;
        margin-right: 10px;
    }

    line-height: 1.4;
    font-size: 16px;

    p {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;

        .svgIcon {
            height: 16px;
            width: 16px;
            display: inline-block;
            vertical-align: -3px;
            fill: #b2ada6;
        }
    }
}

.sulli--nav {
    margin-left: auto;
    display: flex;
    align-items: center;

    .sulli--menu {
        display: flex;
        list-style: none;
    }

    .menu-item {
        margin: 0 15px;
        position: relative;

        &:not(.menu-item-has-children):hover {
            opacity: 0.7;
        }

        &.current_page_item {
            &:before {
                content: '';
                position: absolute;
                top: 34px;
                left: 0;
                right: 0;
                margin: auto;
                width: 4px;
                height: 4px;
                border-radius: 4px;
                background: #cf3f74;
            }
        }
    }

    .sub-menu {
        .menu-item {
            margin: 0;

            &:hover {
                color: $colorPrimary;
                opacity: 1;
            }

            a {
                display: block;
            }

            &.current_page_item {
                &::before {
                    display: none;
                }
            }
        }
    }
}

.sulli--header {
    &__content {
        max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        align-items: center;
        width: 95%;
    }

    padding: 50px 0;
}

.sulliArticle {
    &--title {
        font-size: 38px;
        font-weight: 200;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1;

        &__page {
            text-align: center;
        }
    }

    &--subTitle {
        font-size: 24px;
        font-weight: 200;
        margin-top: 0;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 10px;
        line-height: 1;
    }

    &--meta {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        padding-left: 15px;
    }

    &--header {
        padding: 10px 0 50px;
    }
}

.post--area {
    padding-bottom: 30px;
    min-height: 400px;

    &__status {
        padding-top: 50px;
    }
}

.post--area,
.comment-respond,
.inner--content {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.sulliContainer {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

.imageCaption {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.sulliTag {
    &--prefix {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.44);
        padding-bottom: 10px;
    }

    &--header {
        position: absolute;
        right: 0;
        top: 0;
        width: 350px;

        &Title {
            font-size: 24px;
            font-weight: 900;
            line-height: 1.2;
        }

        &Subtitle {
            font-size: 18px;
            color: rgba(0, 0, 0, 0.5);

            p {
                margin: 0;
            }
        }
    }

    &--wrapper {
        padding-right: 400px;
        /* padding-left: 50px; */
        position: relative;
        padding-top: 180px;
    }

    &--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &--item {
        width: 48%;
        margin-bottom: 3%;
    }

    &--title {
        font-weight: normal;
        margin: 0;
        font-size: 20px;
        text-align: center;
    }

    &--meta {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        text-align: center;
    }

    &--image {
        display: block;
        transition: 0.5s;
        overflow: hidden;

        img {
            transition: 0.5s;
        }

        &:hover {
            transform: scale(0.96);

            img {
                transform: scale(1.15);
            }
        }
    }
}

@media (max-width: 1024px) {
    .sulliTag {
        &--header {
            position: static;
            margin-bottom: 30px;
        }
        &--wrapper {
            padding-right: 0;
        }
    }

    .card--list {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .archive-header {
        position: static;
        width: auto;
        margin-bottom: 30px;
        .avatar {
            margin-left: 0;
        }
    }

    .elevateMeta {
        display: none;
    }
}

@media (max-width: 600px) {
    .sulliTag {
        &--item {
            width: 100%;
        }
    }
    .archive-header {
        position: relative;
    }

    .card--list {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .card {
        &--item {
            align-items: center;

            h2 {
                margin: 0 0 10px;
                font-size: 18px;
                line-height: 1.2;
            }

            .meta {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.5);
            }
        }

        &--image {
            width: 100px;
            flex: 0 0 auto;
        }
    }

    .sulli--header {
        padding: 20px 0;
    }

    .post--list {
        padding-top: 10px;
    }

    .post {
        h2 {
            font-size: 18px;
            margin-top: 10px;
            line-height: 1.2;
        }
    }

    .sulliArticle {
        &--header {
            padding-bottom: 20px;
            padding-top: 0;
        }

        &--title {
            font-size: 20px;
            font-weight: 800;
        }

        &--meta {
            padding-left: 0;
        }
    }

    .sulli--nav {
        display: none;
    }
}

.elevateSidebarPosts {
    right: 0;
    margin-top: 30px;
    position: absolute;
    top: 210px;
    width: 140px;
    z-index: 100;
}

.elevateSidebarTitle {
    font-size: 14px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}

.page-404 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 130px;

    &__title {
        font-size: 124px;
        line-height: 1;
    }
}

.sub-menu {
    display: none;
    padding-left: 0;
    color: rgba(0, 0, 0, 0.6);
    list-style: none;
    position: absolute;
}

.menu-item {
    &:hover {
        .sub-menu {
            display: block;
        }
    }
}

.sulli--insertImage {
    margin: 15px -200px;
}

.tag--list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;

    a {
        padding: 2px 12px;
        border-radius: 4px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        color: rgba(0, 0, 0, 0.5);
    }
}

.search--area {
    background-color: #fafafa;
    padding: 50px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, -100%, 0);
    transition: 0.5s;

    .is-searchActive & {
        transform: translate3d(0, 0, 0);
    }
}

.block--area {
    transform: translate3d(0, 0, 0);

    .is-searchActive & {
        transform: translate3d(0, 128px, 0);
    }

    transition: 0.5s;
}

.surface--content {
    position: relative;
}

.sulli--searchBtn {
    margin-left: 15px;
    background-color: $colorPrimary;
    border-radius: 999rem;
    padding: 2px 12px;
    color: #fff;
    font-size: 14px;
}

.page-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;

    .post-page-numbers {
        font-size: 18px;
        padding: 10px;
        color: rgba(0, 0, 0, 0.6);

        &.current,
        &:hover {
            color: $colorPrimary;
        }
    }
}

.card--status {
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.05);

    &:last-child {
        margin-bottom: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.5);

        .avatar {
            border-radius: 999rem;
            margin-right: 15px;
        }
    }

    &__content {
        font-size: 14px;
    }

    &__footer {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        padding-top: 10px;

        a:hover {
            color: $colorPrimary;
        }
    }
}

.card--statusImage {
    &--list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &--thumb {
        margin-right: 15px;
        border-radius: 5px;
    }
}

.archive {
    &--title {
        &__month {
            margin: 30px 0 10px;
            font-size: 24px;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.5);
        }

        &__year {
            font-size: 30px;
            margin: 0;
        }
    }

    &--list {
        list-style: none;
        padding: 0;
    }

    &--item {
        padding: 15px 0;
        border-bottom: 1px solid #eee;

        &Title {
            font-size: 20px;
        }

        &Meta {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5);
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

.is-dardMode {
    background-color: var(--dark-background);
    color: var(--dark-color);
}

@import 'modules/article.scss';
@import 'modules/comment.scss';
@import 'modules/grap.scss';
